
body
{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.top-heading, 
.lifespan
{
    text-align: center;
}

.image-container
{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.info-container
{
    width: 600px;
    margin: 0 auto;
}

.info-container h1
{
    font-weight: bolder;
    font-size: 44px;
}

.info-container p 
{
    font-weight: 500;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 16px;
}